body {
  background: #fff;
  color: #777;
  font-size: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
	margin: 0;
	height: 100%;
}

#sandbox {
  width: 100%;
  height: 100%;
  border: 0;
}

nav {
  background: #999;
  font-size: 120%;
  background-image: url('../img/logo-white.png');
  background-repeat: no-repeat;
  background-position: 10px -5px;
  transition: background-color 1s;
}

nav.error {
  background-color: red;

}

nav.success {
  background-color: #00a651;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0 0 0 80px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  background: #777;
  background: rgba(0, 0, 0, 0);
  transition: background 1s;
}

nav li.selected, nav li:hover {
  background: #000;
  background: rgba(0, 0, 0, .6);
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  display: inline-block;
  transition: color 1s;
}

#content {
  margin: 20px 20px;
}

#sandbox-view {
  height: 100%;
  border: 2px solid #cecece;
  visibility: hidden;
}

#sandbox-view.active {
  visibility: visible;
}

h1 {
  font-weight: normal;
  font-size: 300%;
  margin: 10px 0 20px 0;
}

.green {
  color: #00a651;
}

.green-bg {
  background-color: #00a651;
}

.red {
  color: red;
}

.red-bg {
  background-color: red;
}

#results-view {
}

ul.test-list {
  padding: 0;
  font-size: 150%;
}

ul.test-list, ul {
  list-style-type: none;
}

ul.test-list .pass {
  color: #00a651;
}

ul.test-list .fail {
  color: red;
}

ul.test-list .fail:hover .details {
  display: block;
}

ul.test-list .details {
  font-family: monospace;
  padding-top: 10px;
  line-height: 1.5;
  display: none;
  color: #666;
  font-size: 70%;
}

#results-view {
  margin-left: 60px;
}


.test-list iframe {
  display: none;
}

body.test-list-page {
  margin: 20px;
}

.test-list .test {
  opacity: .5;
  transition: opacity .5s;
}

.test-list .test.passed,
.test-list .test.failed {
  opacity: 1;
}

.test-list .test a {
  color: gray;
}

.test-list .test.passed a {
  color: #00a651;
}

.test-list .test.failed a {
  color: red;
}






