/*
 * default.css_t
 * ~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- default theme.
 *
 * :copyright: Copyright 2007-2013 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */

@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: Helvetica;
    font-size: 14px;
    background-color: #000;
    color: #000;
    margin: 0;
    padding: 0;
}

div.document {
    background-color: #EBEBEB;
}

div.documentwrapper {
    float: left;
    width: 100%;
}

div.bodywrapper {
    margin: 0 0 0 230px;
}

div.sphinxsidebarwrapper {
  padding: 20px 0;
}

div.body {
    background-color: #ffffff;
    color: #000000;
    padding: 0 20px 30px 20px;
}

div.footer {
    color: #ffffff;
    width: 100%;
    padding: 9px 0 9px 0;
    text-align: center;
    font-size: 75%;
}

div.footer a {
    color: #ffffff;
    text-decoration: underline;
}

div.related {
    background: -webkit-linear-gradient(top, #555 0%,#515151 18%,#373737 85%,#333 100%);
    line-height: 30px;
    color: #ffffff;
}

div.related a {
    color: #ffffff;
}

div.sphinxsidebar {
}

div.sphinxsidebar h3,
div.sphinxsidebar h4 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    padding: 5px 0 5px 10px; 
    background: #DBDADA;
    text-shadow: 1px 1px 0 #eee;
}

div.sphinxsidebar form {
  margin-left: 20px;
}

div.sphinxsidebar p {
    color: #999;
    margin-left: 20px;
}

div.sphinxsidebar p.topless {
    margin: 5px 10px 10px 20px;
}

div.sphinxsidebar ul {
    margin: 10px;
    margin-left: 25px;
    padding: 0;
    color: #666;
    line-height: 150%;
}

div.sphinxsidebar ul li {
  text-indent: -5px;
}

div.sphinxsidebar ul ul {
  margin-left: 25px;
}

ul {
  list-style-type: square;
}

div.sphinxsidebar h3,
div.sphinxsidebar h4,
div.sphinxsidebar a {
    color: #666;
}

div.sphinxsidebar input {
    border: 1px solid #ccc;
    font-size: 1em;
}



/* -- hyperlink styles ------------------------------------------------------ */

a {
    color: #355f7c;
    text-decoration: none;
}

a:visited {
    color: #355f7c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* -- body styles ----------------------------------------------------------- */

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    background-color: #f2f2f2;
    font-weight: normal;
    color: #666;
    padding: 6px 0 6px 12px;
    text-shadow: 1px 1px 0 #EEE;
} 

div.body h1 {
  background-color: #CEE2D7;
  font-size: 180%;
  color: #00a651;
  border-bottom: 1px solid #9EDABB;
}

div.body h1 { margin-top: 0; font-size: 200%; border-top: 20px solid #fff; }
div.body h2 { font-size: 160%; }
div.body h3 { font-size: 140%; }
div.body h4 { font-size: 120%; }
div.body h5 { font-size: 110%; }
div.body h6 { font-size: 100%; }

a.headerlink {
    color: #600FC6;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    background-color: #600FC6;
    color: white;
}

div.body p, div.body dd, div.body li {
    text-align: justify;
    line-height: 130%;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.admonition p {
    margin-bottom: 5px;
}

div.admonition pre {
    margin-bottom: 5px;
}

div.admonition ul, div.admonition ol {
    margin-bottom: 5px;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.topic {
    background-color: #eee;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

pre {
    padding: 7px;
    background-color: #ECFFF1;
    color: #333333;
    line-height: 120%;
    border: 1px solid #CAE2BE;
}

tt {
    background-color: #ecf0f3;
    padding: 3px 3px;
    font-size: 0.95em;
}

th {
    background-color: #ede;
}

.warning tt {
    background: #efc2c2;
}

.note tt {
    background: #d6d6d6;
}

.viewcode-back {
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

img {
  max-width: 100%;
}
