<!DOCTYPE html>
<html>
<head>
  <title>Application</title>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
  <%= i18n('Master Server is running on %s:%s', hostname, port) %>

  <a href="/capture">Capture this browser</a>
</body>
</html>
