<!DOCTYPE html>
<html>
<head>
  <title>Application</title>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
  Master Server is running on <%= hostname %>:<%= port %>
</body>
</html>
